.ba-first-text {
  position: relative;
  bottom: 400px;
  text-align: center;
}
h1 {
  font-family: exo;
  font-weight: 100;
  font-size: 3.5em;
  width: 50%;
  margin: auto;
  margin-top: -97px;
}
h1:hover {
  text-shadow: 1px 1px 1px lightgray;
}
h2 {
  font-family: exo;
  font-size: 2.3em;
  font-weight: 500;
}
.redtext {
  color: #fb8686;
}
.ba-seventh-h2 {
  color: white;
}
h3 {
  font-family: exo;
  font-weight: 500;
}
.ba-fifth-employee-col-h3 {
  color: white;
}
.ba-fifth-employee-col-p {
  color: white;
}
h4 {
  color: #fb8686;
  font-family: exo;
  font-weight: 500;
}
.fifth-employee-col-p {
  color: white;
  font-style: italic;
}
h6 {
  font-family: exo;
  font-weight: 400;
  color: #fb8686;
  font-size: inherit;
}
p {
  font-family: exo;
  font-size: 1em;
  font-weight: 400;
}
.sl {
  max-width: 100%;
}
.sl-slide {
  max-width: 100%;
}
.ba-first-text__button {
  background-color: #ff6d6d;
  color: white;
  font-family: exo;
  font-weight: 100;
  width: 180px;
  margin-top: 140px;
  height: 48px;
  border-radius: 5px;
  border: transparent;
}
.ba-first-text__button:hover {
  background-color: #ff8a8a;
}
.ba-second {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  height: 720px;
  margin-top: -220px;
}
.ba-second-1 {
  width: 60%;
  padding-left: 10%;
  padding-right: 15%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.ba-second-2 {
  width: 40%;
  background-image: -moz-linear-gradient(to top left, #fb8686 50%, #ececec 50%);
  background-image: -webkit-linear-gradient(151deg, #fb8686 50%, #ececec 50%);
  background-image: -o-linear-gradient(to top left, #fb8686 50%, #ececec 50%);
}
section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.ba-third {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-image: url(img/image1.jpg);
  height: 675px;
  justify-content: center;
}
.ba-third-colums {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 80%;
}
.ba-third-colums-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 10px;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.ba-fourth {
  height: 550px;
  background-image: -moz-linear-gradient(50deg, #fb8686 35%, #ececec 35%);
  background-image: -webkit-linear-gradient(50deg, #fb8686 35%, #ececec 35%);
  background-image: -o-linear-gradient(50deg, #fb8686 35%, #ececec 35%);
}
.ba-fourth-cor {
  width: 80%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.ba-fifth {
  background-image: url(img/triangles-Corporate-Landing-Page.jpg);
  width: 100%;
  height: 650px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.ba-fifth-employee {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: auto;
}
.ba-fifth-employee-col {
  text-align: center;
  padding: 0px 10px;
}
.ba-fifth-logo {
  width: 80%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.ba-fifth-logo-1:hover {
  opacity: 0.3;
}
.ba-fifth-logo-2:hover {
  opacity: 0.3;
}
.ba-fifth-logo-3:hover {
  opacity: 0.3;
}
.ba-fifth-logo-4:hover {
  opacity: 0.3;
}
.ba-fifth-logo-5:hover {
  opacity: 0.3;
}
.ba-sixth {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}
.ba-seventh {
  background-color: #323969;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 460px;
}
input {
  width: 240px;
  height: 42px;
  background-color: #4d4778;
  border: 1px solid white;
  border-radius: 3px;
}
.ba-seventh-form__button {
  width: 240px;
  height: 46px;
  background-color: #ff8a8a;
  border: none;
  border-radius: 3px;
  color: white;
}
.ba-seventh-form__button:hover {
  background-color: #4d4778;
  color: white;
  border: 1px solid #fb8686;
}
.ba-seventh-form__p {
  color: white;
}
a:link {
  color: white;
}
a:visited {
  color: #fb8686;
}
footer {
  height: 330px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  background-image: -moz-linear-gradient(to top left, #fb8686 30%, #fff 30%);
  background-image: -webkit-linear-gradient(151deg, #fb8686 30%, #fff 30%);
  background-image: -o-linear-gradient(to top left, #fb8686 30%, #fff 30%);
}
.border {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.ba-eighth-col {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ba-eighth-col__a,
a {
  color: black;
  text-decoration: none;
}
.ba-eighth-col__a,
a:hover {
  color: gray;
}
.ba-eighth-col__email {
  background-color: white;
  border: 1px solid gray;
}
.ba-seventh-form > input {
  color: white;
}
